*{
	margin:0;
	padding:0;
}
html,body{
    width: 100%;
    font-size:62.5%;
}
.bac img{
    width: 100%;
    
}
.bacnoe{
    height:auto;
    width: 100%;
    background:#fcca05;
    overflow: hidden;
    
}
.red{
    width:80%;
    background:#2fc21f;
    margin:3rem auto;
    color: white;
    font-size:3rem;
    line-height: 7rem;
    text-align: center;
    box-shadow:0 1rem 1rem #158805;
    border-radius: 2rem;
   
}

.flag img{
    width: 40%;
    height:40%;
}

.bag{
    width: 90%;
    background:#fedc5d;
    border-radius:2rem;
    margin: 3rem auto;
    overflow: hidden;
    
}
.bag li{
    list-style: none;
}
.bag1{
    width: 97%;
    background:white;
    border-radius:2rem;
    margin: 3rem auto;
    overflow: hidden;
    
}
.bag1 img{
    float: left;
}
.bb1{
    float: left; 
    font-size: 1.6rem; 
    line-height: 4rem;
    margin-left: 3rem;
    color: #3a230a;
}
.bb1 span{
    color: red;
    border-bottom: 1px solid red;
}
.bag2{
    width: 97%;
    background:white;
    border-radius:2rem;
    margin: 2rem auto;
    overflow: hidden;
}
.colly1{
    float: left;
}
.bb2{
    float: left;
    font-size:1.6rem;
    line-height: 3rem;
    margin-left: 3rem;
     color: #3a230a;
}
.colly2{
    float: right;
}
.bag3{
    width: 97%;
    background:white;
    border-radius:2rem;
    margin: 2rem auto;
    overflow: hidden;
}
.colly3{
    float: left;
}
.bb3{
    float: left;
    font-size:1.6rem;
    line-height: 3rem;
    margin-left: 3rem;
     color: #3a230a;
}
.colly4{
    float: right;
}
.flag1 img{
    width: 40%;
    height: 40%;   
}
.state{
    width: 90%;
    background:#fedc5d;
    border-radius:2rem;
    margin: 3rem auto;
    overflow: hidden;
}
.state1{
    width: 98%;
    background:white;
    border-radius:2rem;
    margin: 3rem auto;
    overflow: hidden;
    font-size: 1.6rem;
    line-height:6rem;
    color: #5e4a30;
}
.tag{
    float: left;
    width:2rem;
    line-height:2rem;
    background:#eba601;
    border-radius: 50%;
    margin-top: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
    text-align: center;  
}
.tag1{
    float: left;
    width:2rem;
    line-height:2rem;
    background:#eba601;
    border-radius: 50%;
    margin-top: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
    text-align: center;  
}
.tag2{
    float: left;
    width:2rem;
    line-height:2rem;
    background:#eba601;
    border-radius: 50%;
    margin-top: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
    text-align: center;  
}
.tail{
    width: 100%;
    background: #eba601;
    font-size: 1.6rem;
    color: #fedc5d;
    text-align: center;
}

    